<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Broadcast Radio</title>
    <link href="/css/output.css" rel="stylesheet" />
</head>
<body style="display: flex; flex-direction: column">
<h1>Broadcast Radio - <%= title %></h1>
<p id="status"></p>

<input id="radioId" hidden="hidden" value="<%= id %>" type="text">
<input id="radioName" hidden="hidden" value="<%= title %>" type="text">
<label for="audio">Upload Audio File:</label>
<input type="file" id="audio-input" name="audio" accept="audio/mpeg"/>
<button id="broadcast-btn">Broadcast Now</button>
<button id="mute-audio-monitor">Mute Monitoring Audio</button>
<button id="unmute-audio-monitor">Unmute Monitoring Audio</button>
<audio id="audio-monitor"></audio>
<audio id="audio-stream" muted></audio>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/broadcast.js"></script>
</body>
</html>


