<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet" />
</head>
<body>
<input id="radioId" hidden="hidden" value="<%= id %>" type="text">
<audio id="audio-stream"></audio>
<div class="flex flex-row gap-3 justify-center">
    <button id="prev-btn"><a href="/radio/listen?id=<%= canPrevChannel ? id - 1 : 6 %>">Previous</a></button>
    <button id="play-pause-btn">Play/Pause</button>
    <button id="next-btn"><a href="/radio/listen?id=<%= canNextChannel ? id + 1 : 1 %>">Next</a></button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/listen.js"></script>
</body>
</html>
