<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Broadcast Radio</title>
</head>
<body style="display: flex; flex-direction: column">
<h1>List Radio</h1>
<% data.map(item => { %>
    <button>
        <a href="/radio/broadcast?id=<%= item.id %>">
            <%= item.title %>
        </a>
    </button>
<% }) %>
</body>
</html>
